@* defining the view model with lowercase model *@
@model Form
@* Model with uppercase is referring to the variable being passed into the view from the controller. *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Dojo Survey</title>
</head>
<body>
    <h1>Submitted Info</h1>
    <p class="resultstext">Name: @Model.name</p>
    <p class="resultstext">Dojo Location: @Model.location</p>
    <p class="resultstext">Favorite Language: @Model.language</p>
    <p class="resultstext">Comment: @Model.comment</p>
    <a href='/'><button class="btn btn-outline-dark resultbtn">Go Back</button></a>
</body>
</html>